/**/
/**/
body {background-image: url("/www/image/haikei.gif"); }
.resizeimage img { width: 100%; }
#title {text-align: center;}
#infomation {text-align: left;}

/* itemList.html */
ul.itemList {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 3vw;
}

li.itemList {
  padding:0;
}

input.itemList {
  padding: 0;
  margin: 0;
}

.box18{
    margin:2em 0;
    position: relative;
    padding: 0.25em 1em;
    border: solid 2px #ffcb8a;
    border-radius: 3px 0 3px 0;
}
.box18:before,.box18:after
{
    content: '';
    position: absolute;
    width:10px;
    height: 10px;
    border: solid 2px #ffcb8a;
    border-radius: 50%;
}
.box18:after {
    top:-12px;
    left:-12px;
}
.box18:before {
    bottom:-12px;
    right:-12px;
}
.box18 p {
    margin: 0; 
    padding: 0;
}

.box26 {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
}
.box26 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
}
.box26 p {
    margin: 0; 
    padding: 0;
}

.padding_left {padding-left: 20px;}

/* itemSelect.html */

 .itemSelect {
   overflow-x: scroll;
 }
 .itemSelect{
    width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
 }
 .table th,
 .table td {
  border: 2px solid #eee;
  padding: 4px 8px;
}

/* oordinate.html */

#coordinate{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 3vw;
}